body {
	background-color: lavenderblush;
}
nav {
}
h2 {
	padding-left: 50;
	background-color: lavender;
	 width: 300;
}
p {
	font-family: sans-serif;
	padding-left: 50;
}
ul{
	padding-left: 50;
	font-family: sans-serif;
}
img {
	padding-left: 50;
}

